<div class="about">
    <div class="max-flexbox-center">
        <div class="max-width">
            <div class="about-wrapper">
                <div class="about-left">
                    <div class="logo-big">
                    </div>
                </div>
                <div class="about-right">
                    <h2>Calvin Koch Photography</h2>
                    <div class="spacer-1"></div>
                    <h4>
                        From the snowy mountain ranges 
                        of the Swiss Alps to the tropcal 
                        beaches of Costa Rica nothing gets 
                        in the way of the perfect shot. I 
                        push myself to creating stunning imagery 
                        by capturing emotion of nature.
                    </h4>
                    <div class="spacer-2"></div>
                    <div>
                    <div class="about-textwrapper">
                        <h3>
                            Contact Me
                        </h3>
                    </div>
                    <div class="spacer-3"></div>
                    <div class="about-textwrapper">
                        <h4>
                            <a href="mailto:contact@calvinkoch.ch">contact@calvinkoch.ch</a>
                        </h4>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>