.fullscreen{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    top: 0;
}

.fullscreen img{
    height: 200px;
    align-self: center;
}

.fullscreen h1{
    align-self: center;
}

.spacer{
    width: 2rem;
}