.fixed-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  
  .max-width-nav {
    max-width: 1300px;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
  }

.navbar-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
.navbar-start{
    display: flex;
    justify-content: left;
    align-items: center;
}
.navbar-end{
    display: flex;
    justify-content: right;
    align-items: center;
}
.navbar-item{
    padding: 0 15px;
    margin-left: 10px;
}
.navbar-logo{
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    margin: 10px 0 10px 0;
    transition: all 0.3s ease-in-out;
}

h2 {
    transition: all 0.3s ease-in-out;
    font-size: 2em;
  }

.first{
    margin-left: 0 !important;
    padding-left: 0 !important; 
}

.navbar-item:hover .svg-grey{
    fill: var(--white);
}

.scrolled {
    background-color: var(--black);
    transition: all 0.3s ease-in-out;
  }
  
  .scrolled .navbar-logo {
    width: 30px;
    transition: all 0.3s ease-in-out;
  }
  
  .scrolled h2 {
    font-size: 1.2em;
    transition: all 0.3s ease-in-out;
  }