<div class="max-flexbox-center">
    <div class="max-width">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item first" routerLink="/home">
                    <div class="navbar-logo">
                    </div>
                </a>                
            </div>    
            <div class="navbar-end">
                <a class="navbar-item first" routerLink="/home">Home</a>
                <a class="navbar-item" routerLink="/photography">Photography</a>
                <a class="navbar-item" routerLink="/construction">Construction</a>
                <a class="navbar-item" routerLink="/maintanance">Maintanance</a>
            </div>
        </div>
    </div>
</div>
