@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Sora:wght@500&display=swap');
html{
    font-size: 62.5%;    
    color: white;
}
body{
    background-color: black;
    margin: 0;
    font-family: Lato, Arial, Helvetica, sans-serif;
}
.ckd {
    display: flex;
    align-items: left;
}
h1{
    line-height: 6.667rem;
    font-size: 6.667rem;
    margin: 0;
}
h2{
    font-size: 2.5rem;
}

.flexbox-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 480px) {
    html{
        font-size: 50%;
    }
}
@media (max-width: 768px) {
    
}
@media (max-width: 1024px) {
    
}
@media (min-width: 1400px) {
    html{
        font-size: 100%;
    }
}