.navbar-menu{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-start{
    display: flex;
    justify-content: left;
    margin-left: 50px;
}
.navbar-end{
    display: flex;
    justify-content: right; 
    margin-right: 50px;
}
.navbar-item{
    padding: 5px;
}
.navbar-logo{
    background-image: url(https://raw.githubusercontent.com/calvinkoch00/CalvinKoch-Files/3d622ca2f9ebe7e4584da1fa967dcb4281dcbedd/src/assets/img/ck_logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 100px;
}